/* @font-face {
  font-family: Candyhome;
  src: url(https://npm.elemecdn.com/anzhiyu-blog@1.1.6/fonts/Candyhome.ttf);
  font-display: swap;
  font-weight: lighter;
} */

@font-face {
    font-family: ZhuZiAYuanJWD;
    /* src: url(https://npm.elemecdn.com/anzhiyu-blog@1.1.6/fonts/ZhuZiAWan.woff2); */
    src: url(LXGWWenKaiMonoLite-Regular.woff2);
    font-display: swap;
    font-weight: lighter;
  }
  
  @font-face {
    font-family: chenjiabin;
    /* src: url(DunHuangFeiTian-XingKaiTi-2.woff2); */
    src: url(LXGWWenKaiMonoLite-Regular.woff2);
    font-display: swap;
    font-weight: lighter;
  }
  
  .article-sort-item-title {
    font-family: ZhuZiAYuanJWD !important;
    font-size: 1.5em !important;
  }


  #subtitle,
  #nav .site-page {
    font-family: chenjiabin;
    font-size: 0.9em !important;
  }

  a.article-title {
    font-weight: bold;
  }

  div#menus {
    font-family: "ZhuZiAYuanJWD";
  }
  h1#site-title {
    font-family: chenjiabin;
    font-size: 3.5em !important;
    font-weight: 800;
  }

  .author-info-description,
  .author-info-name,
  a.article-title,
  a.blog-slider__title,
  a.categoryBar-list-link,
  h1.post-title {
    font-family: ZhuZiAYuanJWD;
  }
  

  .iconfont {
    font-family: "iconfont" !important;
    font-size: 3em;
    /* 可以定义图标大小 */
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* 时间轴生肖icon */
  svg.icon {
    /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
    width: 1em;
    height: 1em;
    /* width和height定义图标的默认宽度和高度*/
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
  
  .icon-zhongbiao::before {
    color: #f7c768;
  }
  
  /* bilibli番剧插件 */
  #article-container .bangumi-tab.bangumi-active {
    background: var(--anzhiyu-theme);
    color: var(--anzhiyu-ahoverbg);
    border-radius: 10px;
  }
  a.bangumi-tab:hover {
    text-decoration: none !important;
  }
  .bangumi-button:hover {
    background: var(--anzhiyu-theme) !important;
    border-radius: 10px !important;
    color: var(--anzhiyu-ahoverbg) !important;
  }
  a.bangumi-button.bangumi-nextpage:hover {
    text-decoration: none !important;
  }
  .bangumi-button {
    padding: 5px 10px !important;
  }
  
  a.bangumi-tab {
    padding: 5px 10px !important;
  }
  svg.icon.faa-tada {
    font-size: 1.1em;
  }
  .bangumi-info-item {
    border-right: 1px solid #f2b94b;
  }
  .bangumi-info-item span {
    color: #f2b94b;
  }
  .bangumi-info-item em {
    color: #f2b94b;
  }
  
  /* 解决artitalk的图标问题 */
  #uploadSource > svg {
    width: 1.19em;
    height: 1.5em;
  }
  
  /*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
  /* #page-header:not(.not-top-img):before {
    background-color: transparent !important;
  } */
  
  /* 首页文章卡片 */
  #recent-posts > .recent-post-item {
    background: rgba(255, 255, 255, 0.9);
  }
  
  /* 首页侧栏卡片 */
  #aside-content .card-widget {
    background: rgba(255, 255, 255, 0.9);
  }
  
  /* 文章页面正文背景 */
  div#post {
    background: rgba(255, 255, 255, 0.9);
  }
  
  /* 分页页面 */
  div#page {
    background: rgba(255, 255, 255, 0.9);
  }
  
  /* 归档页面 */
  div#archive {
    background: rgba(255, 255, 255, 0.9);
  }
  
  /* 标签页面 */
  div#tag {
    background: rgba(255, 255, 255, 0.9);
  }
  
  /* 分类页面 */
  div#category {
    background: rgba(255, 255, 255, 0.9);
  }
  
  /*夜间模式伪类遮罩层透明*/
  [data-theme="dark"] #recent-posts > .recent-post-item {
    background: #121212;
  }
  
  [data-theme="dark"] .card-widget {
    background: #121212 !important;
  }
  
  [data-theme="dark"] div#post {
    background: #121212 !important;
  }
  
  [data-theme="dark"] div#tag {
    background: #121212 !important;
  }
  
  [data-theme="dark"] div#archive {
    background: #121212 !important;
  }
  
  [data-theme="dark"] div#page {
    background: #121212 !important;
  }
  
  [data-theme="dark"] div#category {
    background: #121212 !important;
  }
  
  [data-theme="dark"] div#category {
    background: transparent !important;
  }

  /* 页脚透明 */
  /* #footer {
    background: transparent !important;
  } */
  
  /* 头图透明 */
  /* #page-header {
    background: transparent !important;
  } */
  
  #rightside > div > button {
    border-radius: 5px;
  }
  
  /* 滚动条 */
  
  ::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--btn-bg);
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  
  ::-moz-selection {
    color: #fff;
    background-color: var(--btn-bg);
  }
  
  /* 音乐播放器 */
  
  /* .aplayer .aplayer-lrc {
    display: none !important;
  } */
  
  .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px !important;
    transition: all 0.3s;
    /* 默认情况下缩进左侧66px，只留一点箭头部分 */
  }
  
  .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0 !important;
    transition: all 0.3s;
    /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
  }
  
  .aplayer.aplayer-fixed {
    z-index: 999999 !important;
  }
  
  /* 评论框  */
  .vwrap {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 30px 0px;
  }
  
  /* 设置评论框 */
  
  .vcard {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 0px 0px;
  }
  
  /* md网站下划线 */
  #article-container a:hover {
    text-decoration: none !important;
  }
  
  #article-container #hpp_talk p img {
    display: inline;
  }
  
  /* 404页面 */
  #error-wrap {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1000px;
    transform: translate(0, -50%);
  }
  
  #error-wrap .error-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    height: 18rem;
    border-radius: 8px;
    background: var(--card-bg);
    box-shadow: var(--card-box-shadow);
    transition: all 0.3s;
  }
  
  #error-wrap .error-content .error-img {
    box-flex: 1;
    flex: 1;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #3b70fc;
    background-position: center;
    background-size: cover;
  }
  
  #error-wrap .error-content .error-info {
    box-flex: 1;
    flex: 1;
    padding: 0.5rem;
    text-align: center;
    font-size: 14px;
    font-family: Titillium Web, "PingFang SC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
  }
  #error-wrap .error-content .error-info .error_title {
    margin-top: -4rem;
    font-size: 9em;
  }
  #error-wrap .error-content .error-info .error_subtitle {
    margin-top: -3.5rem;
    word-break: break-word;
    font-size: 1.6em;
  }
  #error-wrap .error-content .error-info a {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.3rem 1.5rem;
    background: var(--btn-bg);
    color: var(--btn-color);
  }
  
  #body-wrap.error .aside-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    bottom: 0px;
    position: absolute;
    padding: 1rem;
    width: 100%;
    overflow: scroll;
  }
  
  #body-wrap.error .aside-list .aside-list-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  #body-wrap.error .aside-list .aside-list-item {
    padding: 0.5rem;
  }
  
  #body-wrap.error .aside-list .aside-list-item img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
  
  #body-wrap.error .aside-list .aside-list-item .thumbnail {
    overflow: hidden;
    width: 230px;
    height: 143px;
    background: var(--anzhiyu-card-bg);
    display: flex;
  }
  
  #body-wrap.error .aside-list .aside-list-item .content .title {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    padding-top: 0.5rem;
    color: white;
  }
  
  #body-wrap.error .aside-list .aside-list-item .content time {
    display: none;
  }
  
  /* 代码框主题 */
  #article-container figure.highlight {
    border-radius: 10px;
  }

  h3.title3 {
    margin: auto;
    padding-top: 2%;
  }


.swiper-button-prev, .swiper-button-next {
    background-image: none !important; /* 去掉swiper.min.css中按钮的背景图片 */
}

.swiper-button-next:after, .swiper-button-prev:after {
    color: var(--btn-bg) !important; /* 箭头的颜色 */
}

@media screen and (min-width: 768px) {
    #swiper_container {
        height: 270px !important
    }

    .blog-slider__title {
        font-size: 1.8rem;
        text-align: center
    }

    .blog-slider__content > * {
        margin: 5px !important; /* 设置子元素的外边距为 5px */
    }
}

@media screen and (max-width: 768px) {
    #swiper_container {
        height: 12rem !important
    }

    .blog-slider__title {
        font-size: 1.3rem;
        text-align: center
    }

    .blog-slider__text {
        display: none
    }
}

.wl-header-item:nth-child(1):before {
  content: '输入QQ号会自动获取昵称和头像🐧';
}

.wl-header-item:nth-child(2):before {
  content: '收到回复将会发送到您的邮箱📧';
}

.wl-header-item:nth-child(3):before {
  content: '可以通过昵称访问您的网站🔗';
}

.wl-header-item:focus-within::before{
  display: block;
}

/* 主内容区 */
.wl-header-item::before {
  /* 先隐藏起来 */
  display: none;
  /* 绝对定位 */
  position: absolute;
  /* 向上移动60像素 */
  top: -31px;
  /* 文字强制不换行，防止left:50%导致的文字换行 */
  white-space: nowrap;
  /* 圆角 */
  border-radius: 10px;
  /* 距离左边50% */
  left: 50%;
  /* 然后再向左边挪动自身的一半，即可实现居中 */
  transform: translate(-50%);
  /* 填充 */
  padding: 0px 18px;
  background: #37B2F3;
  color: #fff;
}

.wl-header {
  overflow: visible !important;
}
.wl-header-item {
  position: relative  !important;
}


/* 设置文字内容 :nth-child(1)的作用是选择第几个 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(1):before {
  content: '输入QQ号会自动获取昵称和头像🐧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(2):before {
  content: '收到回复将会发送到您的邮箱📧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(3):before {
  content: '可以通过昵称访问您的网站🔗';
}


/* 当用户点击输入框时显示 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::before,
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::after {
  display: block;
}

.tk-nick.tk-nick-link {
  color: #f56c6c!important;
}


/* 主内容区 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
  /* 先隐藏起来 */
  display: none;
  /* 绝对定位 */
  position: absolute;
  /* 向上移动60像素 */
  top: -60px;
  /* 文字强制不换行，防止left:50%导致的文字换行 */
  white-space: nowrap;
  /* 圆角 */
  border-radius: 10px;
  /* 距离左边50% */
  left: 50%;
  /* 然后再向左边挪动自身的一半，即可实现居中 */
  transform: translate(-50%);
  /* 填充 */
  padding: 14px 18px;
  background: #444;
  color: #fff;
}

/* 小角标 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
  display: none;
  content: '';
  position: absolute;
  /* 内容大小（宽高）为0且边框大小不为0的情况下，每一条边（4个边）都是一个三角形，组成一个正方形。
  我们先将所有边框透明，再给其中的一条边添加颜色就可以实现小三角图标 */
  border: 12px solid transparent;
  border-top-color: #444;
  left: 50%;
  transform: translate(-50%, -48px);
}

.tk-extras {
  padding-bottom: 15px;
  border-bottom: 2px dashed var(--hr-border)
}

.tk-extra {
  border: var(--style-border);
  padding: 4px 6px 4px 6px;
  border-radius: 8px;
  margin-right: 4px!important
}

.tk-expand {
  margin-top: 16px;
  background-color: var(--june-secondbg);
  color: var(--june-fontcolor);
  border-radius: 8px;
  border: var(--style-border);
}

.tk-expand:hover {
  background-color: var(--june)!important;
  color: var(--june-white)
}


[data-theme="light"] #aside-content > .card-widget.card-info {
  background-image: url(https://typora-1329750222.cos.ap-chengdu.myqcloud.com/img/2025%2F03%2F4b2caff06dff2fef1390ba90c84b6a34.webp);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: 100%;
}

[data-theme="dark"] #aside-content > .card-widget.card-info {
  background-image: url(https://typora-1329750222.cos.ap-chengdu.myqcloud.com/img/2025%2F03%2F9254617c31860e3074f5366df3db22f4.webp) !important;
  background-repeat: no-repeat !important;
  background-attachment: inherit !important;
  background-size: 100% !important;
}


.announcement_content {
  padding-left: 5%;
  padding-right: 5%;
}



.announcement_content b {
  color: var(--june-lighttext);
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  display: inline-block;
  max-width: 100%;
}